@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(170px, 170px));
}

.marginCardsSidesCenter{
  margin-left: calc(50vw - 624px) ;
  margin-right: calc(50vw - 646px);
}


