@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(170px, 170px));
}

.marginCardsSidesCenterOf4andAbove{
  margin-left: calc(50vw - 624px) ;
  margin-right: calc(50vw - 646px);
}

.marginCardsSidesCenter1{
  margin-left: calc(50vw - 152px) ;
  margin-right: calc(50vw - 154px);
}

.marginCardsSidesCenter2{
  margin-left: calc(50vw - 310px) ;
  margin-right: calc(50vw - 332px);
}


